.mod-main {
	padding: 10px;
	background-color: #fff;
	margin-bottom: 20px
}

.mod-main .mt {
	display: inline-block;
	display: block;
	padding: 10px
}

.mod-main .mt:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

* html .mod-main .mt {
	height: 1%
}

*+html .mod-main .mt {
	min-height: 1%
}

.mod-main .mt h3 {
	float: left;
	font-family: '\5fae\8f6f\96c5\9ed1';
	font-size: 16px;
	color: #333;
	line-height: 20px
}

.mod-main .mt .extra-l {
	float: left
}

.mod-main .mt .extra-l li {
	float: left;
	padding-left: 20px
}

.mod-main .mt .extra-l li a {
	display: inline-block;
	padding-bottom: 2px;
	color: #999
}

.mod-main .mt .extra-l li a:hover, .mod-main .mt .extra-l li a:hover em
	{
	color: #e4393c
}

.mod-main .mt .extra-l li a.curr {
	padding-bottom: 0;
	color: #e4393c;
	border-bottom: 2px solid #e4393c;
	font-weight: 700;
	cursor: pointer;
	text-decoration: none
}

.mod-main .mt .extra-l li.fore-last {
	border-right: 0
}

.mod-main .mt .extra-l em {
	margin-left: 5px
}

.mod-main .mt .extra-r {
	float: right
}

.mod-main .mc {
	overflow: visible
}
div.mod-main .mt .extra-l li {
	padding-right: 15px
}

div.mod-main .mt .extra-l li.fore1 {
	padding-right: 20px
}

div.mod-main .mt .extra-l li.fore2 {
	position: relative;
	border-left: 1px dotted #ddd;
	padding: 0 15px
}

div.mod-main .mt .extra-l li.fore2 a.curr, div.mod-main .mt .extra-l li.fore2 a.ftx-03:hover
	{
	color: #e4393c
}

div.mod-main .mt .extra-l li a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	color: #333
}

div.mod-main .mt .extra-l li a.ftx-03 {
	color: #999
}

div.mod-main .mt .extra-l li a:hover em {
	color: #fff
}

div.mod-main .mt .extra-l li em {
	position: relative;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height: 15px;
	line-height: 15px;
	font-family: arial;
	top: -5px;
	padding: 0 4px;
	background: #e4393c;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	color: #fff;
	font-size: 10px;
	margin: 0 0 0 2px;
	_position: static
}

div.mod-main .mt .extra-l li .new {
	position: absolute;
	width: 24px;
	height: 14px;
	top: -10px;
	right: -10px;
	background: url(//misc.360buyimg.com/user/myjd-2015/css/i/new-icon.png)
		no-repeat;
	overflow: hidden
}

.root61 div.mod-main .mt .extra-l li {
	padding-right: 20px
}

.root61 div.mod-main .mt .extra-l li.fore2 {
	padding-left: 40px;
	margin-left: 20px
}
.mod-comm {
	padding: 10px 20px 20px
}

.mod-comm .mt {
	padding: 10px 0
}

.mod-comm .mt h3 {
	font-size: 12px;
	color: #666;
	font-family: '\5b8b\4f53';
	line-height: 18px
}

.mod-comm .mc {
	line-height: 20px
}

.mod-comm .smt-01 {
	background: #f5f5f5;
	height: 32px;
	line-height: 32px;
	padding-left: 20px;
	margin-top: 10px
}

.mod-comm .smc-01 {
	border: 1px solid #f2f2f2;
	padding: 20px 20px 10px
}

.mod-comm .extra-r a.btn-close {
	color: #333
}

.mod-comm .extra-r a.btn-close b {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	background: url(//misc.360buyimg.com/user/myjd-2015/css/i/icon2.png) 0
		-58px no-repeat;
	width: 7px;
	height: 5px;
	overflow: hidden;
	vertical-align: middle;
	margin-left: 5px
}

.mod-comm .extra-r a.btn-close:hover {
	color: #333
}

.mod-comm .extra-r a.btn-close.down b {
	background-position: 0 -63px
}
.lefta-box .mt .extra-l li {
	padding: 0;
	padding-right: 20px
}
#safeinfo .mc {
	margin-left: 60px
}
.m, .mb, .mc, .mt, .p-detail, .p-img, .p-market, .p-name, .p-price, .sm,
	.smb, .smc, .smt {
	overflow: hidden
}
.m, .mb, .mc, .mt, .sm, .smb, .smc, .smt {
	overflow: hidden;
	zoom: 1
}
#order02 .mc {
	_position: relative
}
.order-tb {
	width: 100%
}

.order-tb .number-col {
	width: 395px
}
.order-tb .amount-col, .order-tb .consignee-col, .order-tb .status-col {
	width: 105px
}

.order-tb thead th {
	height: 32px;
	line-height: 32px;
	text-align: center;
	background: #f5f5f5;
	color: #666;
	font-weight: 400
}

.order-tb tbody td {
	border: 0.5px solid #e5e5e5
}

.order-tb .td-02 {
	height: 40px;
	line-height: 40px;
	background: #f5f5f5
}

.order-tb .td-02 .tip {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	background: #ffaa71;
	color: #fff;
	height: 16px;
	line-height: 16px;
	margin: 0 5px 0 15px;
	padding: 0 2px
}

.order-tb .sep-row {
	height: 20px
}

.order-tb .sep-row td {
	border: 0
}

.order-tb .tr-th {
	background: #f5f5f5;
	height: 31px;
	line-height: 31px;
	color: #aaa;
	overflow: hidden
}

.order-tb .tr-th td {
	border-bottom-color: #f5f5f5
}

.order-tb .tr-th span {
	float: left;
	height: 18px;
	line-height: 18px;
	padding: 2px 0 0;
	_display: inline
}

.order-tb .tr-th span.shop-txt {
	padding: 0
}

.order-tb .tr-th .gap {
	width: 14px
}

.order-tb .tr-th .dealtime {
	margin-right: 30px;
	_margin-right: 15px;
	font-family: verdana
}

.order-tb .tr-th .number {
	width: 226px;
	font-family: verdana
}

.order-tb .tr-th a {
	color: #333
}

.order-tb .tr-th a:hover {
	color: #e4393c
}

.order-tb .tr-th .order-shop {
	width: 178px
}

.order-tb .tr-th .order-shop .shop-txt {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle;
	max-width: 153px;
	overflow: hidden;
	margin: 0;
	white-space: nowrap;
	text-overflow: ellipsis
}

.order-tb .tr-th .btn-im, .order-tb .tr-th .btn-im-off {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 16px;
	height: 16px;
	margin: 0 0 0 5px;
	overflow: hidden;
	background:
		url(//misc.360buyimg.com/user/myjd-2015/css/i/order-icon20150916.png)
		-26px -155px no-repeat;
	vertical-align: middle
}

.order-tb .tr-th .btn-im-jd {
	background-position: -52px -155px
}

.order-tb .tr-th .btn-im-off {
	background-position: 0 -155px
}

.order-tb .tr-th .tr-operate {
	float: right;
	position: relative;
	margin-right: 15px;
	width: 405px;
	height: 23px;
	overflow: hidden
}

.order-tb .tr-th .order-del {
	position: absolute;
	right: 0;
	top: 6px;
	display: none;
	width: 13px;
	height: 13px;
	font-size: 0;
	overflow: hidden;
	vertical-align: middle;
	background:
		url(//misc.360buyimg.com/user/myjd-2015/css/i/order-icon20150916.png)
		-23px -132px no-repeat
}

.order-tb .tr-th .order-del:hover {
	background-position: 0 -132px
}

.order-tb .tr-th .tel {
	width: 180px;
	color: #aaa;
	font-family: verdana
}

.order-tb .tr-th .tel .tel-icon {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 19px;
	height: 19px;
	margin-right: 3px;
	overflow: hidden;
	vertical-align: middle;
	background:
		url(//misc.360buyimg.com/user/myjd-2015/css/i/order-icon20150916.png)
		-75px-55px
}

.order-tb .tr-th-02 {
	background: #fff
}

.order-tb .tr-bd {
	text-align: center;
	vertical-align: top
}

.order-tb .tr-bd td {
	padding: 14px 0
}

.order-tb tbody.split-tbody .tr-th td {
	border-width: 0 1px
}

.order-tb tbody.split-tbody .tr-bd td {
	border-width: 0 1px;
	background:
		url(//misc.360buyimg.com/user/myjd-2015/css/i/split-line.png) -14px 0
		no-repeat
}

.order-tb tbody.split-tbody .tr-bd td.first {
	background-position: 0 0
}

.order-tb tbody.split-tbody .tr-bd td.last {
	background:
		url(//misc.360buyimg.com/user/myjd-2015/css/i/split-line.png) right
		top no-repeat
}

.order-tb tbody.split-tbody .sep-tr-bd {
	height: 1px;
	overflow: hidden
}

.order-tb tbody.split-tbody .sep-tr-bd td {
	padding: 0
}

.order-tb tbody.split-tbody-last .tr-bd td {
	border-width: 0 1px 1px
}

.order-tb .tr-th-split td {
	border-bottom: none
}

.order-tb .tr-th-split .split-row {
	position: relative;
	top: 1px;
	padding: 11px 0;
	height: 18px;
	margin: 1px 0 0;
	border-bottom: 1px solid #e5e5e5
}

.order-tb .tr-th-split .split-row02 {
	position: relative;
	color: #393941
}

.order-tb .tr-th-split span.fr {
	float: right
}

.order-tb .tr-th-split .order-consignee {
	width: 128px;
	margin-right: 38px
}

.order-tb .tr-th-split .order-count em {
	font-family: verdana
}

.order-tb .tr-th-split .order-pay {
	width: 178px
}

.order-tb .tr-th-split .top-arr {
	position: absolute;
	width: 17px;
	height: 10px;
	left: 180px;
	top: -10px;
	background: url(//misc.360buyimg.com/user/myjd-2015/css/i/split-arr.png)
		no-repeat;
	overflow: hidden
}

.order-tb .tr-th-split .split-tip {
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: default
}

.order-tb .goods-item {
	display: inline-block;
	display: block;
	float: left;
	width: 255px;
	margin-right: 10px
}

.order-tb .goods-item:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

* html .order-tb .goods-item {
	height: 1%
}

*+html .order-tb .goods-item {
	min-height: 1%
}

.order-tb .goods-item .p-img {
	float: left;
	width: 60px;
	height: 60px;
	border: 1px solid #efefef;
	margin: 0 14px;
	_display: inline
}

.order-tb .goods-item .p-msg {
	float: left;
	width: 160px
}

.order-tb .goods-item .p-name {
	height: 36px;
	line-height: 18px;
	overflow: hidden;
	color: #333;
	text-align: left
}

.order-tb .goods-item .p-name a {
	color: #333
}

.order-tb .goods-item .p-name a:hover {
	color: #e4393c
}

.order-tb .goods-item .p-extra {
	color: #aaa;
	text-align: left
}

.order-tb .goods-item .o-info {
	text-align: left;
	color: #aaa
}

.order-tb .goods-number {
	float: left;
	width: 40px;
	text-align: left;
	color: #aaa;
	font-family: verdana
}

.order-tb .goods-repair {
	float: right;
	width: 84px;
	text-align: center
}

.order-tb .goods-repair .btn-resell {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	width: 44px;
	padding: 2px 0 3px 30px;
	margin: 5px 0 0;
	background: #fff;
	border: 1px solid #ddd;
	color: #999;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px
}

.order-tb .goods-repair .btn-resell b {
	position: absolute;
	display: block;
	top: 0;
	left: 9px;
	width: 21px;
	height: 23px;
	margin-right: 5px;
	background:
		url(//misc.360buyimg.com/user/myjd-2015/css/i/resell-icons.png) 0 0
		no-repeat
}

.order-tb .goods-repair .btn-resell:hover {
	background: #fff;
	border-color: #e4393c;
	color: #e4393c
}

.order-tb .goods-repair .btn-resell:hover b {
	background-position: 0 -43px
}

.order-tb .consignee {
	color: #333
}

.order-tb .consignee .txt {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	white-space: nowrap;
	overflow: hidden;
	max-width: 72px;
	text-overflow: ellipsis;
	vertical-align: middle
}

.order-tb .consignee b {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 14px;
	height: 16px;
	background:
		url(//misc.360buyimg.com/user/myjd-2015/css/i/order-icon20150916.png)
		0 -24px;
	vertical-align: middle;
	margin: 0 0 0 5px
}

.order-tb .amount strong {
	font-family: verdana;
	color: #333
}

.order-tb .cellphone-icon {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 56px;
	height: 14px;
	overflow: hidden;
	background:
		url(//misc.360buyimg.com/user/myjd-2015/css/i/order-icon20150916.png)
		0 0 no-repeat
}

.order-tb .operate {
	line-height: 22px
}

.order-tb .operate a.a-link {
	color: #333
}

.order-tb .operate a.a-link:hover {
	color: #e4393c
}

.order-tb .operate .a-baitiao {
	position: relative;
	display: inline-block;
	color: #e4393c
}

.order-tb .operate .a-baitiao .tag {
	position: absolute;
	right: -35px;
	top: -2px;
	display: inline-block;
	width: 30px;
	height: 15px;
	line-height: 15px;
	text-align: center;
	background: #e4393c;
	color: #fff
}

.order-tb .operate .a-baitiao .arrow {
	position: absolute;
	left: -4px;
	top: 3px;
	width: 0;
	height: 0;
	border-width: 3px;
	border-color: transparent #e4393c #e4393c transparent;
	border-style: dashed solid solid dashed;
	overflow: hidden
}

.order-tb .count-time {
	display: none;
	color: #999
}

.order-tb .count-time .time-icon {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 15px;
	height: 16px;
	margin: 0 3px 0 0;
	overflow: hidden;
	background:
		url(//misc.360buyimg.com/user/myjd-2015/css/i/order-icon20150916.png)
		-23px -24px no-repeat;
	vertical-align: middle
}

.order-tb .count-time-red {
	color: #e4393c
}

.order-tb .count-time-red .time-icon {
	background-position: -80px -24px
}

.order-tb .status {
	position: relative;
	z-index: 5;
	color: #333;
	line-height: 22px
}

.order-tb .status a {
	color: #333
}

.order-tb .status a:hover {
	color: #e4393c
}

.tooltip {
	position: relative;
	width: 100px;
	margin: 0 auto;
	z-index: 2;
	cursor: pointer
}

.tooltip .auto-icon {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 22px;
	height: 16px;
	margin: 0 3px 0 0;
	overflow: hidden;
	background:
		url(//misc.360buyimg.com/user/myjd-2015/css/i/order-icon20150916.png)
		-48px -24px no-repeat;
	vertical-align: middle
}

.tooltip .circle-icon {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 7px;
	height: 7px;
	margin: 0 0 0 3px;
	overflow: hidden;
	background:
		url(//misc.360buyimg.com/user/myjd-2015/css/i/order-icon20150916.png)
		0 -115px no-repeat;
	vertical-align: middle
}

.tooltip .prompt-01 {
	position: absolute;
	z-index: 1;
	width: 400px;
	right: 90px;
	top: -22px;
	padding: 9px 9px 0;
	display: none;
	cursor: auto
}

.tooltip .prompt-01 .pc {
	min-height: 235px
}

.tooltip .prompt-02 {
	position: absolute;
	z-index: 1;
	width: 220px;
	right: 90px;
	top: -22px;
	padding: 20px;
	display: none;
	color: #666;
	line-height: 22px
}

.tooltip .prompt-02 .pc {
	min-height: 0
}

.order-tb .prompt-01 {
	position: absolute;
	width: 122px;
	border: 1px solid #ddd;
	background: #fff;
	-webkit-box-shadow: 0 0 2px 2px #eee;
	-moz-box-shadow: 0 0 2px 2px #eee;
	box-shadow: 0 0 2px 2px #eee;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px
}

.order-tb .prompt-01 .pc {
	background: #fff;
	padding: 0;
	color: #333;
	text-align: left
}

.order-tb .prompt-01 .pc .close {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 17px;
	height: 17px;
	background: url(//misc.360buyimg.com/user/myjd-2015/css/i/icon.png) 0
		-151px;
	cursor: pointer
}

.order-tb .prompt-01 .p-arrow-left {
	right: -8px;
	top: 25px;
	width: 8px;
	height: 16px;
	background-position: -7px 0
}

.order-tb .prompt-01 .p-arrow-right {
	left: -8px;
	top: 25px;
	width: 8px;
	height: 16px;
	background-position: 0 0
}

.order-tb .prompt-01 .p-arrow-top {
	left: 25px;
	top: -8px;
	width: 16px;
	height: 8px;
	background-position: 0 0
}

.order-tb .prompt-01 .p-arrow-bottom {
	left: 25px;
	bottom: -7px;
	width: 16px;
	height: 8px;
	background-position: 0 -7px
}

.order-tb .prompt-01 .p-tit {
	margin: -10px 0 0 -10px;
	height: 35px;
	line-height: 35px;
	padding: 0 0 0 20px;
	font-weight: 700;
	border-bottom: 1px solid #e3e3e3
}

.order-tb .prompt-01 .logistics-cont {
	position: relative;
	margin-left: 15px;
	max-height: 410px;
	overflow-y: auto;
	padding-left: 5px
}

.order-tb .prompt-01 .logistics-cont li {
	position: relative;
	overflow: visible;
	width: 340px;
	padding: 15px 0 0 15px;
	border-left: 1px solid #e3e3e3
}

.order-tb .prompt-01 .logistics-cont .node-icon {
	display: block;
	position: absolute;
	top: 21px;
	left: -4px;
	width: 8px;
	height: 8px;
	overflow: hidden;
	background:
		url(//misc.360buyimg.com/user/myjd-2015/css/i/order-icon20150916.png)
		-17px -115px no-repeat;
	vertical-align: middle
}

.order-tb .prompt-01 .logistics-cont li.first {
	color: #e4393c
}

.order-tb .prompt-01 .logistics-cont li.first .node-icon {
	background-position: 0 -115px
}

.order-tb .prompt-01 .wx-qrcode-tipbox {
	width: 418px;
	height: 100px;
	border-top: 1px solid #eee;
	margin-left: -9px;
	margin-top: 20px
}

.order-tb .prompt-01 .wx-qrcode-tipbox .tip-inner {
	width: 283px;
	height: 80px;
	padding: 10px 20px 10px 115px;
	background: #f8f8f8;
	overflow: hidden
}

.order-tb .prompt-01 .wx-qrcode-tipbox .tip-img {
	float: left;
	display: inline;
	width: 80px;
	height: 80px;
	margin-left: -95px;
	margin-right: 15px
}

.order-tb .prompt-01 .wx-qrcode-tipbox .tip-cont {
	width: 100%;
	height: 80px;
	text-align: left
}

.order-tb .prompt-01 .wx-qrcode-tipbox .tip-title {
	font: 700 16px/28px "微软雅黑";
	margin-top: 13px
}

.order-tb .prompt-01 .wx-qrcode-tipbox .tip-hint {
	margin-top: 3px;
	font: 12px/20px "宋体";
	color: #666
}

.order-tb .prompt-02 .pc {
	color: #666
}

.order-tb .stage-cont {
	overflow: hidden
}

.order-tb .stage-cont .stage {
	padding: 14px 0 14px 14px;
	line-height: 18px;
	margin-top: -1px;
	border-top: 1px solid #eee;
	color: #aaa
}

.order-tb .stage-cont .stage-finish {
	background: #fcfcfc
}

.order-tb .stage-cont .stage-stress {
	background: #f4f6f9
}

.order-tb .stage-cont li {
	float: left;
	text-align: center
}

.order-tb .stage-cont .fore1 {
	width: 486px;
	text-align: left
}

.order-tb .stage-cont .fore2, .order-tb .stage-cont .fore3 {
	width: 105px
}

.order-tb .stage-cont .fore4 {
	width: 115px
}

.order-tb .deal-state-cont {
	position: relative;
	z-index: 10;
	width: 98px;
	cursor: pointer
}

.order-tb .deal-state-cont .state-txt {
	position: relative;
	height: 30px;
	line-height: 30px;
	text-align: left;
	padding-left: 20px;
	padding-right: 12px;
	border: 1px solid #f5f5f5
}

.order-tb .deal-state-cont .state-txt b {
	position: absolute;
	width: 7px;
	height: 4px;
	right: 18px;
	top: 13px;
	overflow: hidden;
	vertical-align: middle;
	background:
		url(//misc.360buyimg.com/user/myjd-2015/css/i/order-icon20150916.png)
		-37px -207px no-repeat
}

.order-tb .deal-state-cont .state-list {
	position: absolute;
	left: 0;
	top: 30px;
	z-index: 2;
	display: none;
	width: 96px;
	background: #fff;
	border: 1px solid #f5f5f5;
	border-top: 0
}

.order-tb .deal-state-cont .state-list li {
	height: 30px;
	line-height: 30px;
	text-align: left
}

.order-tb .deal-state-cont .state-list li a {
	display: block;
	position: relative;
	color: #666;
	height: 30px;
	line-height: 30px;
	padding-left: 20px
}

.order-tb .deal-state-cont .state-list li a:hover {
	background: #f5f5f5;
	color: #e4393c
}

.order-tb .deal-state-cont .state-list li a b {
	display: block;
	position: absolute;
	left: 5px;
	top: 10px;
	width: 10px;
	height: 7px;
	vertical-align: middle;
	overflow: hidden
}

.order-tb .deal-state-cont .state-list li a.curr {
	color: #e4393c
}

.order-tb .deal-state-cont .state-list li a.curr b {
	background:
		url(//misc.360buyimg.com/user/myjd-2015/css/i/order-icon20150916.png)
		0 -207px
}

.order-tb .deal-state-hover .state-txt {
	background: #fff;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .12);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .12);
	box-shadow: 0 0 10px rgba(0, 0, 0, .12)
}

.order-tb .deal-state-hover .state-txt b {
	background-position: -20px -207px
}

.order-tb .deal-state-hover .state-txt .blank {
	display: block;
	position: absolute;
	height: 10px;
	width: 96px;
	top: 21px;
	left: 0;
	background: #fff;
	z-index: 3
}

.order-tb .deal-state-hover .state-list {
	display: block;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .12);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .12);
	box-shadow: 0 0 10px rgba(0, 0, 0, .12)
}

.order-tb .ordertime-cont {
	position: relative;
	float: left;
	z-index: 10;
	width: 138px;
	cursor: pointer
}

.order-tb .ordertime-cont .time-txt {
	position: relative;
	height: 30px;
	line-height: 30px;
	text-align: left;
	padding-left: 20px;
	padding-right: 12px;
	border: 1px solid #f5f5f5
}

.order-tb .ordertime-cont .time-txt b {
	position: absolute;
	width: 7px;
	height: 4px;
	right: 18px;
	top: 13px;
	overflow: hidden;
	vertical-align: middle;
	background:
		url(//misc.360buyimg.com/user/myjd-2015/css/i/order-icon20150916.png)
		-37px -207px no-repeat
}

.order-tb .ordertime-cont .time-list {
	position: absolute;
	left: 0;
	top: 30px;
	z-index: 2;
	display: none;
	width: 136px;
	background: #fff;
	border: 1px solid #f5f5f5;
	border-top: 0
}

.order-tb .ordertime-cont .time-list li {
	height: 30px;
	line-height: 30px;
	text-align: left
}

.order-tb .ordertime-cont .time-list li a {
	display: block;
	position: relative;
	color: #666;
	height: 30px;
	line-height: 30px;
	padding-left: 20px
}

.order-tb .ordertime-cont .time-list li a:hover {
	background: #f5f5f5;
	color: #e4393c
}

.order-tb .ordertime-cont .time-list li a b {
	display: block;
	position: absolute;
	left: 5px;
	top: 10px;
	width: 10px;
	height: 7px;
	vertical-align: middle;
	overflow: hidden
}

.order-tb .ordertime-cont .time-list li a.curr {
	color: #e4393c
}

.order-tb .ordertime-cont .time-list li a.curr b {
	background:
		url(//misc.360buyimg.com/user/myjd-2015/css/i/order-icon20150916.png)
		0 -207px
}

.order-tb .ordertime-hover .time-txt {
	background: #fff;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .12);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .12);
	box-shadow: 0 0 10px rgba(0, 0, 0, .12)
}

.order-tb .ordertime-hover .time-txt b {
	background-position: -20px -207px
}

.order-tb .ordertime-hover .time-txt .blank {
	display: block;
	position: absolute;
	height: 10px;
	width: 136px;
	top: 21px;
	left: 0;
	background: #fff;
	z-index: 3
}

.order-tb .ordertime-hover .time-list {
	display: block;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .12);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, .12);
	box-shadow: 0 0 10px rgba(0, 0, 0, .12)
}

.order-tb .order-detail-txt {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: middle
}

.order-tb .promisejdint {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 61px;
	height: 18px;
	vertical-align: middle;
	overflow: hidden;
	background: url(//misc.360buyimg.com/myjd/skin/2014/i/jdInt-icon.png)
		no-repeat;
	margin-left: 5px
}

.order-tb .promisejdint:hover {
	text-decoration: none
}

.order-tb .ding-icon {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 39px;
	height: 16px;
	vertical-align: middle;
	overflow: hidden;
	background: url(//misc.360buyimg.com/user/myjd-2015/css/i/ding-icon.png)
		no-repeat;
	margin-left: 5px
}

.order-tb .ding-icon:hover {
	text-decoration: none
}

.root61 .order-tb .number-col {
	width: 590px
}

.root61 .order-tb .consignee-col {
	width: 115px
}

.root61 .order-tb .amount-col, .root61 .order-tb .status-col {
	width: 110px
}

.root61 .order-tb .goods-item {
	width: 330px;
	margin-right: 84px
}

.root61 .order-tb .goods-item .p-msg {
	width: 240px
}

.root61 .order-tb .goods-repair {
	width: 104px
}

.root61 .order-tb .goods-number {
	width: 70px
}

.root61 .order-tb .stage-cont .fore1 {
	width: 681px
}

.root61 .order-tb .stage-cont .fore2 {
	width: 115px
}

.root61 .order-tb .stage-cont .fore3 {
	width: 110px
}

.root61 .order-tb .stage-cont .fore4 {
	width: 120px;
	margin-left: 4px;
	_display: inline
}

.root61 .order-tb .tr-th .tr-operate {
	width: 620px
}

@media \0screen {
	.order-tb .operate .a-baitiao .tag {
		line-height: 16px
	}
}

@media screen and (min-width:0 \0) {
	.order-tb .operate .a-baitiao .tag {
		line-height: 16px
	}
}
.order-tb .sep-row {
	height: 20px
}
