<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liveman.shop.dao.user.AddressMapper" >
  <resultMap id="BaseResultMap" type="com.liveman.shop.entity.user.Address" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="alias" property="alias" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="address_sheng" property="addressSheng" jdbcType="VARCHAR" />
    <result column="address_shi" property="addressShi" jdbcType="VARCHAR" />
    <result column="address_xian" property="addressXian" jdbcType="VARCHAR" />
    <result column="address_zhen" property="addressZhen" jdbcType="VARCHAR" />
    <result column="address_detail" property="addressDetail" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="is_default" property="isDefault" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, alias, name, address_sheng, address_shi, address_xian, address_zhen, 
    address_detail, phone, is_default
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.liveman.shop.entity.user.AddressExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from address
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.liveman.shop.entity.user.AddressExample" >
    delete from address
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.liveman.shop.entity.user.Address" >
    insert into address (id, user_id, alias, 
      name, address_sheng, address_shi, 
      address_xian, address_zhen, address_detail, 
      phone, is_default)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{alias,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{addressSheng,jdbcType=VARCHAR}, #{addressShi,jdbcType=VARCHAR}, 
      #{addressXian,jdbcType=VARCHAR}, #{addressZhen,jdbcType=VARCHAR}, #{addressDetail,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{isDefault,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.liveman.shop.entity.user.Address" >
    insert into address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="alias != null" >
        alias,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="addressSheng != null" >
        address_sheng,
      </if>
      <if test="addressShi != null" >
        address_shi,
      </if>
      <if test="addressXian != null" >
        address_xian,
      </if>
      <if test="addressZhen != null" >
        address_zhen,
      </if>
      <if test="addressDetail != null" >
        address_detail,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="isDefault != null" >
        is_default,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="alias != null" >
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="addressSheng != null" >
        #{addressSheng,jdbcType=VARCHAR},
      </if>
      <if test="addressShi != null" >
        #{addressShi,jdbcType=VARCHAR},
      </if>
      <if test="addressXian != null" >
        #{addressXian,jdbcType=VARCHAR},
      </if>
      <if test="addressZhen != null" >
        #{addressZhen,jdbcType=VARCHAR},
      </if>
      <if test="addressDetail != null" >
        #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.liveman.shop.entity.user.AddressExample" resultType="java.lang.Integer" >
    select count(*) from address
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update address
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.alias != null" >
        alias = #{record.alias,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.addressSheng != null" >
        address_sheng = #{record.addressSheng,jdbcType=VARCHAR},
      </if>
      <if test="record.addressShi != null" >
        address_shi = #{record.addressShi,jdbcType=VARCHAR},
      </if>
      <if test="record.addressXian != null" >
        address_xian = #{record.addressXian,jdbcType=VARCHAR},
      </if>
      <if test="record.addressZhen != null" >
        address_zhen = #{record.addressZhen,jdbcType=VARCHAR},
      </if>
      <if test="record.addressDetail != null" >
        address_detail = #{record.addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.isDefault != null" >
        is_default = #{record.isDefault,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update address
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      alias = #{record.alias,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      address_sheng = #{record.addressSheng,jdbcType=VARCHAR},
      address_shi = #{record.addressShi,jdbcType=VARCHAR},
      address_xian = #{record.addressXian,jdbcType=VARCHAR},
      address_zhen = #{record.addressZhen,jdbcType=VARCHAR},
      address_detail = #{record.addressDetail,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      is_default = #{record.isDefault,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.liveman.shop.entity.user.Address" >
    update address
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="alias != null" >
        alias = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="addressSheng != null" >
        address_sheng = #{addressSheng,jdbcType=VARCHAR},
      </if>
      <if test="addressShi != null" >
        address_shi = #{addressShi,jdbcType=VARCHAR},
      </if>
      <if test="addressXian != null" >
        address_xian = #{addressXian,jdbcType=VARCHAR},
      </if>
      <if test="addressZhen != null" >
        address_zhen = #{addressZhen,jdbcType=VARCHAR},
      </if>
      <if test="addressDetail != null" >
        address_detail = #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null" >
        is_default = #{isDefault,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liveman.shop.entity.user.Address" >
    update address
    set user_id = #{userId,jdbcType=INTEGER},
      alias = #{alias,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      address_sheng = #{addressSheng,jdbcType=VARCHAR},
      address_shi = #{addressShi,jdbcType=VARCHAR},
      address_xian = #{addressXian,jdbcType=VARCHAR},
      address_zhen = #{addressZhen,jdbcType=VARCHAR},
      address_detail = #{addressDetail,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      is_default = #{isDefault,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>